<h1>자유 게시판</h1>
<h1>글 목록</h1>

{% if user.is_authenticated %}
<h1><a href="{% url 'communitywrite' %}">글쓰기</a></h1>
{% else %}
<h1>글쓰기는 회원만 가능합니다.</h1>
<p><a href="{% url 'accountsapp' %}">accounts page 바로가기</a></p>
{% endif %}

<br>
{% for community in posts %}
<p>{{community.title}}</p>
<p>{{community.pub_date}}</p>
<p>{{community.summary}}<a href="{% url 'communitydetail' community.id %}">...more</a></p>
<br>
<br>
{% endfor %}

{%if posts.has_previous%}
<a href="?page=1">First</a>
<a href="?page={{posts.previous_page_number}}">Previous</a>
{%endif%}

<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>

{%if posts.has_next%}
<a href="?page={{posts.next_page_number}}">Next</a>
<a href="?page={{posts.paginator.num_pages}}">Last</a>
{%endif%}