{% extends 'base.html' %}
{% block contents%}

{% load staticfiles %}

{% if error %}
{{ error }}
<br><br>
{% endif %}

<h1>Login</h1>

<form method="POST" action="{% url 'login'%}">
    {% csrf_token %}
    Username:
    <br>
    <input name="username" type="text" value="">
    <br>
    Password:
    <br>
    <input name="password" type="password" value="">
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Login">
</form>

<p><a href="{% url 'signup'%}">아이디가 없다면 회원가입</a></p>

<p>연습사진</p>
<img src="{% static '연습사진.png' %}" alt="연습사진">

{% endblock %}

