{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=5fv68e9ayr"></script>
</head>
<body>
    
<h1>여기는 about.html 입니다.</h1>
<p>서비스를 소개하는 페이지입니다.</p>
<h1><a href="{% url 'home' %}">home.html</a></h1>
<h1><a href="{% url 'about' %}">about.html</a></h1>

<p>연습사진</p>
<img src="{% static '연습사진.png' %}" alt="연습사진">

<h1>조선대학교 API</h1>
<div id="map" style="width:50%;height:400px;"></div>

<script>
var mapOptions = {
    center: new naver.maps.LatLng(35.1426749,126.9347367),
    zoom: 10
};

var map = new naver.maps.Map('map', mapOptions);

var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(35.1426749,126.9347367),
    map: map
});
</script>
</body>
</html>